/* ___________________________________GENERALE________________________________________ */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');

body{
    padding: 0;
    margin: 0;
    background-color: hsl(217, 28%, 15%);}

/* HEADER WITH NAVIGATION, INTRO */

header{
    position: relative;
    background-color: hsl(217, 28%, 15%);
    height: 30%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;}

/* Navigation */

nav{
    width: 100%;}

#menu{
    float: right;
    display: flex;
    justify-content: space-between;}

#menu a{
    color: hsl(0, 0%, 100%);
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;}

#menu a:hover{
    text-decoration: underline;}

#menu a:visited{
    color: hsl(0, 0%, 100%);}

/* Introduction */  
#introduction{
    text-align: center;
    color: hsl(0, 0%, 100%);
    z-index: 2;}

#illustration-intro{
    margin: 20px auto;}

h1{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;}

#introduction p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;}

.button{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    background: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;}

.button:hover{
    background: hsl(176, 68%, 64%);}

#introduction a{
    text-decoration: none;}

section{
    background-color: hsl(218, 28%, 13%);}

/* Abilities */
#abilities{
    display: flex;
    justify-content: center;
    width: 100%;}

/* Grid */
#grid .box{
    color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
    padding: 25px;}

.box h3{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;}

.box p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;}

/* Productive */
#productive-text{
    color: white;}

#productive-text h3{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;}

#productive-text p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;}

#productive-text a{
    color: hsl(176, 68%, 64%);
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;}

#productive-text a:hover{
    color: white;}

#illustration-stay-productive{
    height: 14px;}

/* Testimonials */ 
#testimonials{
    display: flex;
    justify-content: center;}

/* quotes */
#quotes{
    position: absolute;
    z-index: 1;}

/* grid */
#grid-testimonials{
    position: relative;}

#grid-testimonials .box{
    background-color: hsl(219, 30%, 18%);
    font-family: 'Open Sans', sans-serif;
    color: white;
    z-index: 2;}

#grid-testimonials p{
    font-weight: 400;}

.clients{
    display: flex;}

#client1{
    background-image: url("../images/profile-1.jpg");
    background-size: cover;}

#client2{
    background-image: url("../images/profile-2.jpg");
    background-size: cover;}

#client3{
    background-image: url("../images/profile-3.jpg");
    background-size: cover;}

.profile-clients h5{
    font-weight: 700;}

.profile-clients h6{
    font-weight: 400;}

.profile-clients{
    padding-left: 20px;
    height: 50px;
    line-height: 0px;}

/* email sign up*/
#email-sign-up{
    background-color: hsl(217, 28%, 15%);
    position: absolute;
    color: white;
    border-radius: 10px;}

#email-sign-up-text{
    text-align: center;}

#email-sign-up h3{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;}

#email-sign-up p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;}

#email-sign-up form{
    font-family: 'Open Sans', sans-serif;
    margin: auto;}

#email-sign-up form input, #button2{
    outline: none;
    border: none;}

#message-error{
    color: hsl(0, 100%, 63%);
    font-family: 'Open Sans', sans-serif;}

/* FOOTER */
footer{
    background-color: hsl(216, 53%, 9%);
    position: relative;
    display: flex;
    justify-content: center;}

#footer-content{
    width: 80%;
    height: 60%;}

#grid-footer{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;}

#grid-footer-block1{
    width: 320px;
    display: flex;}

.icon-phone-email{
    display: flex;}

.icon-phone-email img{
    height: 18px;
    margin-right: 15px;}

.grid-footer-block3 h5{
    font-size: 14px;
    font-weight: 400;
    margin: 0;}

.grid-footer-block3{
    width: 100px;
    padding-right: 40px;
    line-height: 34px;}

#grid-footer-block4{
    display: flex;
    justify-content: center;}

.icon-social-network{
    height: 26px;
    width: 26px;
    border: 1px solid white;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;}

/* ___________________________________DESKTOP________________________________________ */
@media(min-width: 1071px){
    /* Navigation */
    #logo1{
        margin-left: 60px;
        margin-top: 60px;
        height: 48px;}

    #menu{
        margin-right: 70px;
        margin-top: 70px;
        width: 250px;
        font-size: 14px;}

    /* Intro */
    #introduction{
        margin: 50px auto 0 auto;
        width: 50%;
        padding-bottom: 150px;}

    #illustration-intro{
        height: 450px;}

    h1{
        margin: 20px auto;
        font-size: 35px;
        line-height: 50px;}
    
    #introduction p{
        margin: 30px auto;
        line-height: 30px;
        font-size: 16px;
        width: 80%;}

    #button1{
        margin: 20px auto;
        border-radius: 30px;
        font-size: 14px;
        height: 50px;
        width: 240px;}

    /* Background curvy mobile and desktop */
    #bg-curvy-desktop{
        position: absolute;
        width: 100%;
        bottom: 0;
        z-index: 1;}
    
    #bg-curvy-mobile{
        display: none;}

    /* Grid */
    #grid{
        display: grid;
        grid-template-columns: repeat(2, 410px);
        grid-template-rows: repeat(2, 270px);
        column-gap: 100px;
        row-gap: 50px;}
    
    .icon{
        height: 70px;}

    .box h3{
        font-size: 20px;
        margin-bottom: 0px;
        margin-top: 35px;}

    .box p{
        font-size: 14px;
        line-height: 22px;}

    /* Productive */
    #productive-block{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;}
    
    #illustration-stay-productive{
        height: 400px;}

    #productive-text{
        height: 400px;
        width: 500px;
        padding: 200px 0 0 50px;}
    
    #productive-text h3{
        font-size: 35px;
        width: 400px;}
    
    #productive-text p{
        font-size: 14px;
        line-height: 25px;}
    
    #productive-text a{
        font-size: 14px;
        text-underline-offset: 10px;}

    /* Testimonials */
    
    #testimonials{
        height: 80vh;}
    
    /* quotes */
    #quotes{
        height: 50px;
        top:-40px;
        left: -10px;}
    
    /* grid */
    #grid-testimonials{
        display: flex;
        column-gap: 40px;}
    
    #grid-testimonials .box{
        padding: 20px 30px;
        height: 150px;
        width: 270px;
        border-radius: 5px;}
    
    #grid-testimonials p{
        font-size: 13px;
        line-height: 20px;}

    .clients{
        margin-top: 20px;}
    
    .photos-clients{
        width: 40px;
        height: 40px;
        border-radius: 20px;}
    
    .profile-clients h5{
        font-size: 13px;
        margin-top: 8px;}
    
    .profile-clients h6{
        font-size: 10px;
        margin-top: 8px;}

    /* Email Sign Up */
    #email-sign-up{
        width: 790px;
        height: 400px;
        bottom: 70%;}
    
    #email-sign-up-text{
        margin: 40px auto;
        width: 60%;}
    
    #email-sign-up h3{
        font-size: 40px;
        margin-bottom: 10px;}
    
    #email-sign-up p{
        font-size: 16px;}
    
    #email-sign-up form{
        width: 650px;
        display: flex;
        justify-content: space-between;}
    
    #email-sign-up form input, #button2{
        height: 50px;
        border-radius: 25px;
        font-size: 12px;}
    
    #email-sign-up form input{
        width: 400px;
        padding-left: 30px;}
    
    #button2{
        width: 180px;}
    
    #message-error{
        font-size: 10px;
        margin-left: 100px;}
    
    /* FOOTER */
    #footer-content{
        margin-top: 25vh;}
    
    #logo2{
        height: 50px;
        margin-bottom: 30px;}
    
    #grid-footer{
        display: flex;}
    
    #grid-footer-block1{
        font-size: 14px;
        margin-right: 70px;}

    #grid-footer-block1 p{
        margin-top: 0;}

    .icon-location{
        height: 20px;
        margin-right: 20px;} 
    
    #grid-footer-block2{
        font-size: 14px;
        margin-right: 70px;}
    
    .icon-phone-email p{
        margin-top: 0;}
    
    .icon-social-network{
        margin-right: 10px;}
}

/* ___________________________________MOBILE and TABLET________________________________________ */
@media(max-width: 1070px){
    /* Navigation */
    #logo1{
        margin-left: 20px;
        margin-top: 25px;
        height: 25px;}

    #menu{
        font-size: 12px;
        margin-right: 25px;
        margin-top: 30px;
        width: 170px;}
    
    /* Intro */
    #introduction{
        position: absolute;
        top: 70px;
        width: 100%;
        padding-bottom: 100px;}

    #illustration-intro{
        height: 220px;}

    h1{
        margin: 10px auto;
        font-size: 22px;
        line-height: 32px;
        width: 300px;}
    
    #introduction p{
        margin: 15px auto 30px auto;
        line-height: 20px;
        font-size: 12px;
        width: 250px;}

    #button1{
        margin: 20px auto;
        border-radius: 30px;
        font-size: 10px;
        height: 40px;
        width: 210px;}

    /* Background curvy mobile and desktop */
    .block-bg-curvy-mobile{
        bottom: 0;
        z-index: 1;
        width: 100%;
        margin-top: 180px;}

    .vide{
        height: 40vh;
        width: 100%;
        background-color: hsl(218, 28%, 13%);}

    #bg-curvy-mobile{
        margin-bottom: -4px;
        width: 100%;}
    
    #bg-curvy-desktop{
        display: none;}

    /* Abilities */
    .icon{
        height: 55px;}

    .box{
        min-width: 200px;
        max-width: 400px;}

    .box h3{
        margin-bottom: 0px;
        margin-top: 35px;
        font-size: 16px;}

    .box p{
        margin-bottom: 40px;
        font-size: 0.8em;
        line-height: 20px;}

    /* Productive */

    #productive{
        height: 93vh;}

    #productive-block{
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;}

    #illustration-stay-productive{
        height: 230px;
        margin: 90px auto 20px auto;}
    

    #productive-text{
        width: 80%;
        margin: 0 auto;}

    #productive-text h3{
        font-size: 18px;}
    
    #productive-text p{
        font-size: 14px;
        line-height: 22px;}

    #productive-text a{
        margin-top: 0;
        font-size: 12px;
        text-underline-offset: 7px;}

    /* Testimonials */

    /* quotes */
    #quotes{
        height: 20px;
        z-index: 2;
        position: absolute;
        top: -15px;
        left: 5px;}

    /* grid */
    #grid-testimonials{
        margin: 150px auto 300px auto;
        position: relative;
        z-index: 1;
        height: fit-content;}

    #grid-testimonials .box{
        padding: 15px 20px 20px 20px;
        height: 140px;
        width: 240px;
        margin: 0 auto 30px auto;}
    
    #grid-testimonials p{
        font-size: 10px;
        line-height: 20px;
        margin-bottom: 15px;}

    .photos-clients{
        width: 26px;
        height: 26px;
        border-radius: 13px;}
    
    .profile-clients h5{
        font-size: 11px;
        margin-top: 5px;}
    
    .profile-clients h6{
        font-size: 8px;
        margin-top: 5px;}

    /* Email and Sign Up */
    #email-sign-up{ 
        width: 80%;
        bottom: 85%;}
    
    #email-sign-up-text{
        margin: 40px auto;
        width: 85%;}
    
    #email-sign-up h3{
        font-size: 18px;
        margin-bottom: 10px;}
    
    #email-sign-up p{
        font-size: 14px;}

    #form{
        display: flex;
        flex-direction: column;
        margin: 40px auto;
        width: 80%;}

    #email-sign-up form input, #button2{
        height: 45px;
        border-radius: 25px;
        margin: 0 auto;
        width: 220px;}
    
    #email-sign-up form input{
        font-size: 11px;}

    #email-sign-up form input::placeholder{
        opacity: 0.6;}

    #button2{
        margin-top: 25px;
        font-size: 13px;}
    
    #message-error{
        font-size: 10px;
        margin-left: 20%;}

    /* FOOTER */
    #footer-content{
        margin-top: 34vh;}
    
    #logo2{
        height: 50px;
        margin-bottom: 50px;}
    
    #grid-footer-block1{
        padding: 0;
        font-size: 16px;}

    .icon-location{
        height: 20px;
        margin: 15px 20px 0 0;}

    #grid-footer-block2{
        font-size: 14px;
        margin-bottom: 50px;}
    
    .grid-footer-block3{
        margin-bottom: 50px;
        font-size: 16px;}
    
    #grid-footer-block4{
        align-items: center;
        padding: 50px 0;}
    
    .icon-social-network{
        margin-right: 20px;}
}